:root {
    --white: #fff;
    --active-color: rgb(76, 75, 75);
  }

  * {
    box-sizing: border-box;
  }
  
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
    transition: background 0.4s ease;
    color: white;
}
  
button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.HomePageTitle {
    font-size: 4em;
}

